@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
    --cta: #ff547e;
    --lightgray: #f4f7fd;
    --white: white;
    --mobilenav-background: #112450;
    --hero-background: #3b5da5;
    --footer-background: #09132a;
    --footer-button: #155dff;
    --footer-list: #4a80ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}
