@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url(headline.css);
@import url(footer.css);

:root {
    --cta: #ff547e;
    --lightgray: #f4f7fd;
    --white: white;
    --mobilenav-background: #112450;
    --hero-background: #3b5da5;
    --footer-background: #09132a;
    --footer-button: #155dff;
    --footer-list: #4a80ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

/* reusable styles starts here*/
.container {
    max-width: 1240px;
    margin: auto;
}

.wrapper {
    padding: 1rem 1.5rem;
}
/* reusable styles end here*/

.backdrop {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    background: rgba(48, 48, 48, 0.6);
    z-index: 9;
    cursor: pointer;
}

.popup-modal {
    position: fixed;
    left: 50%;
    top: 10%;
    display: none;
    transform: translateX(-50%);
    background: var(--white);
    width: 90%;
    height: 90vh;
    max-width: 500px;
    padding: 1rem;
    border-radius: 10px;
    z-index: 10;
    overflow-y: scroll;
}

.popup-modal .info {
    text-align: center;
}

.popup-modal .title {
    width: 50%;
    margin: auto;
}

.popup-modal .title img {
    width: 100%;
}

.popup-modal .heading {
    font-size: 1.2rem;
    margin-top: 1rem;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    opacity: 0.5;
}

.popup-modal .info p:last-of-type {
    margin: 1rem 0;
    font-size: 0.9rem;
    font-family: "Open Sans", sans-serif;
    opacity: 0.5;
}

.popup-modal .user-box {
    background: #f7f7f7;
    padding: 1rem;
    width: 100%;
    margin: auto;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 2px 1px 1px #eaeaea;
}

.popup-modal .user-icon svg {
    background: rgb(224, 224, 224);
    width: 100%;
    max-width: 50px;
    border-radius: 50%;
}

.popup-modal .user-box form {
    margin-top: 1rem;
}

.user-box form input {
    display: block;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: none;
    /* border-radius: 10px; */
}

.user-box form input:focus {
    outline: none;
}

.user-box .check {
    font-size: 0.8rem;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
}

.user-box .check div {
    display: flex;
    gap: 0.2rem;
}

.user-box form .check input {
    display: inline;
    width: auto;
}

.user-box .check .help {
    color: #4a8bf5;
}

.user-box form button {
    background: #4a8bf5;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.user-box form button svg {
    background-color: var(--white);
    width: 22px;
    height: 22px;
    padding: 0.1rem;
    border-radius: 50%;
}

.popup-modal .new-account {
    margin: 1rem;
    color: var(--footer-button);
    text-align: center;
}

.popup-modal .modal-bottom p:first-of-type {
    margin-top: 2rem;
    text-align: center;
    opacity: 0.5;
}

.popup-modal .modal-bottom p:last-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 0.5rem 0 1rem;
}

.popup-modal .modal-bottom img {
    width: 16px;
}

.nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    transition: background 0.5s;
}

nav .navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
}

nav .brand a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

nav .logo img {
    width: 40px;
    height: 40px;
}

nav .brand__name {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--white);
    padding-bottom: 0.5rem;
}

nav .main-nav {
    position: absolute;
    top: -477px;
    left: 0;
    right: 0;
    min-height: 320px;
    padding-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: var(--mobilenav-background);
    font-size: 0.8rem;
    color: var(--white);
    letter-spacing: 0.01em;
    opacity: 0.9;
    z-index: -1;
    /* transform: translateY(-477px); */
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    transition: all 0.5s;
}

nav .main-nav ul {
    width: 80%;
    text-align: center;
    border-top: 1px solid rgba(191, 212, 255, 0.2);
}

nav .main-nav li {
    margin: 1.5rem 0;
    transition: all 0.3s;
}

nav .main-nav li:hover {
    transform: scale(1.1);
}

nav .main-nav li a {
    display: inline-block;
    cursor: pointer;
}

nav li#modal-link {
    cursor: pointer;
}

nav #modal-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--white);
    color: var(--footer-list);
    padding: 0.5rem 1rem;
    border-radius: 77px;
    width: fit-content;
    margin: auto;
}

nav .main-nav .cta {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--footer-background);
    color: var(--white);
    width: fit-content;
    margin: 1rem auto;
    padding: 0.5rem 2rem;
    line-height: 1.5;
    border-radius: 77px;
    border: none;
    border-color: #ff547e;
}

nav .main-nav .cta svg {
    background-color: var(--white);
    padding: 0.1rem;
    border-radius: 50%;
}

nav .mobile-nav button {
    background: none;
    border: none;
    cursor: pointer;
}

nav .translate-menu {
    /* transform: translateY(-18px); */
    top: -20px;
}

.nav-wrapper.nav-colored {
    background: var(--mobilenav-background);
}

.nav-wrapper .close-padding {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.open {
    display: block;
}

main {
    min-height: 100vh;
}

@media (min-width: 768px) {
    .wrapper {
        padding: 1.5rem 2rem;
    }
    .popup-modal {
        top: 12%;
        width: 80%;
        height: 80vh;
        border-radius: 12px;
    }
    .popup-modal .heading {
        font-size: 2.2rem;
    }
    .popup-modal .title {
        width: 30%;
    }
    .popup-modal .user-box {
        width: 80%;
    }
    nav .navbar {
        padding: 0 1rem;
    }
    nav .main-nav {
        /* transform: translateY(-25px); */
        font-size: 1.1rem;
        min-height: 365px;
    }
    nav .translate-menu {
        transform: translateY(-25px);
    }
}
@media (min-width: 992px) {
    .wrapper {
        padding-top: 1rem;
    }
    .popup-modal {
        top: 8%;
        width: 50%;
        height: 90vh;
        max-height: 650px;
    }
    .popup-modal::-webkit-scrollbar {
        width: 0;
        scrollbar-width: none;
    }
    .popup-modal .title {
        width: 20%;
    }
    .popup-modal .user-box {
        width: 70%;
    }
    nav .navbar {
        padding: 0;
    }
    nav .mobile-nav {
        display: none;
    }
    nav .main-nav {
        position: static;
        align-items: center;
        flex-basis: 45%;
        min-height: auto;
        font-size: 0.8rem;
        background: none;
        padding-bottom: 0;
        /* transform: translateY(0); */
        z-index: 1;
    }
    nav .main-nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        text-align: justify;
        border-top: none;
    }
    nav .main-nav li {
        margin: 0;
    }
    nav #modal-link {
        margin: 0;
    }
}

@media (min-width: 1280px) {
    nav .main-nav {
        font-size: 1rem;
    }
}
